
.logo {
  float: left;
  width: 200px;
  height: 30px;
  color: white;
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: #7e9175;
  margin: 0px ; 
}

.logo_img{
  height: 30px;
  padding: 10px;
}

.menu {
  background-color: #7e9175;
  color: #ffffff;
  height: 60px;
  margin: 40px; 
}

.menu .ant-menu-item:hover {
  background-color: #c9d9b5;
  color: black;
}

.footer{
  background-color: #7e9175;
  height: 80px;
  text-align: center;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0px 40px; 
}


